<!DOCTYPE html>
<html lang="en">

<body>
	<%- include('partials/head.ejs') %>

	<%- include('partials/header.ejs') %>
    	<!-- Banner -->
	<div class="banner">
		<img src="/stylesheets/imagenes/BannerPerritos.jpg" alt="Banner perritos">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let index = 0; index < 4; index++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/detalle"> 
						<figure class="product-box_image">
							<img src="/stylesheets/imagenes/products/default-image.png" alt="pitbull">
						</figure>
						<article class="product-box_data">
							<h2><%=  %></h2>
							<p><%= %></p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
			
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let index = 0; index < 4; index++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/detalle">
						<figure class="product-box_image">
							<img src="/stylesheets/imagenes/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
	<!-- /Más comentados -->


   

     <%- include('partials/footer.ejs') %>
</body>
</html>