<!DOCTYPE html>
<html lang="en">

	<%- include('partials/head.ejs') %>
<body>
	

	<%- include('partials/header.ejs') %>
    
<!--Slider-->
	<div id="slider">
		<figure>
			<img class="foto1" src="images/mundopetsbanner1.jpg">
			<img class="foto1" src="images/bannershipping.jpg">
			<img class="foto1" src="images/peluchesbanner.jpg">
			<img class="foto1" src="images/bannermascotas.jpeg">
			<img class="foto1" src="images/pastoraleman.jpg">
		</figure>
	</div>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% productos.forEach(element => {%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos"> 
						<figure class="product-box_image">
							<img src="<%= element.url%>" alt="producto">
						</figure>
						<article class="product-box_data">
							<h2><%= element.nombre_producto %></h2>
							<!-- <p><%= element.descripcion %></p> -->
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<% }) %>
			
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% productos.forEach(element => {%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos">
						<figure class="product-box_image">
							<img src="<%= element.url%>" alt="">
						</figure>
						<article class="product-box_data">
							<h2><%= element.nombre_producto %></h2>
							<p><%= element.descripcion%></p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<% }) %>
		</div>
	</div>
	<!-- /Más comentados -->

     <%- include('partials/footer.ejs') %>
</body>
</html>