<!DOCTYPE html>
<html lang="en">

	<%- include('partials/head') %>
<body>


	<% if (logueado) { %>
		<%- include('partials/headerLogueado') %>

	<% } else { %> 
		<%- include('partials/header') %>
	<% } %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 id= "titulo"> <span>Editar Producto</span></h1>
			</div>

	<h2 class="col-12"> 			
			<div class= "flex-container">
			<form action="/productos/<%=  lista.id %>" method="POST">
				<div class="uk-margin">
					<label id="label" for="">Nombre</label>
					<br>
					<div class="uk-inline">  
					<span class="uk-form-icon" ></span>
					<input class="uk-input uk-form-width-large" type="text" name="nombre" value="<%=  lista.nombre_producto %> " required>
					</div>
				</div>
				<div class="uk-margin">
					<label id="label" for="">Imagen</label>
					<br>
					<div class="uk-inline">
					<span class="uk-form-icon" ></span>
					<input class="uk-input uk-form-width-large" type="text" name="imagen"value="<%= lista.url %> " required>
					</div>
				</div>
			<div class="uk-margin">
				<label id="label" for="">Descripcion</label>
					<br>
					<div class="uk-inline">
					<span class="uk-form-icon" ></span>
					<input class="uk-input uk-form-width-large" type="text" name="descripcion"value="<%= lista.descripcion %> " required>
					</div>
			</div>
			
			<br>
			</div>
			<input type="hidden" name="id" value="<%= lista.id %>">
					<div class="boton-save">
						<input class="button button2" type="submit" value="Save">
					</div>
					

			</form>	
		</div>	
	</h2>
	</div>
          



     <%- include('partials/footer.ejs') %>
</body>
</html>