<!DOCTYPE html>
<html lang="en">

	<%- include('partials/head.ejs') %>


<body>
	

	<%- include('partials/header.ejs') %>       
    <!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= lista.nombre_producto %></h2> 
			<p class="product-detail-description">
				<a href="/product-add"><i class="far fa-star"></i></a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= lista.url%>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%= %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
                        <% for (let index = 0; index < 5; index++) { %>
						<article>
							<img src="<%= %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile"><%= %>: </a> </strong>
									<%= %>.</p>
							</div>
						</article>
						<% } %>
					</section>
					<form class="form" action="/productos" method="GET" >
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="btn-add">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->


     <%- include('partials/footer.ejs') %>
</body>
</html>