<!DOCTYPE html>
<html lang="en">

	<%- include('partials/head.ejs') %>


<body>
	

	<% if (logueado) { %>
		<%- include('partials/headerLogueado') %>

	<% } else { %> 
		<%- include('partials/header') %>
	<% } %>    
    <!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= lista.nombre_producto %></h2> 
			<p class="product-detail-description">
				<a href="/product-add"><i class="far fa-star"></i></a>
			</p>
			<% if (logueado) { %>
				<p class="product-detail-description">
					<a href="/modificar/<%= lista.id %>"><i class="fas fa-cogs"></i></a>
				</p>
		    <% } else { %> 
				<%-  %>
			<% } %>
			<% if (logueado) { %>
			<form action="/borrar" method="POST">
				<input type="hidden" name="id" value="<%= lista.id %>">
				<input type="submit" value="Borrar">
			  </form>
			<% } %>  
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= lista.url%>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%= lista.descripcion%></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
                        <% lista2.forEach(element => { %>
						<article>
							<img src= "/images/users/<%= element.usuario.url %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile/<%= element.usuario.id%>"><%= element.usuario.usuario %>: </a> </strong>
									<%= element.comentario%>.</p>
							</div>
						</article>
						<% }) %>
					</section>
					<form class="form" action="/productos/<%= lista.id %>" method="POST" >
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentarioCreado">
						<button type="submit" class="btn-add">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->


     <%- include('partials/footer.ejs') %>
</body>
</html>