<!DOCTYPE html>
<html lang="en">

<body>
	<%- include('partials/head.ejs') %>

	<%- include('partials/headerLogueado.ejs') %>


	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Favoritos</h2>
			</div>
			
			<% productos.forEach(element => {%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos">
							<figure class="product-box_image">
								<img src="<%= element.imagen%>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2><%= element.name %></h2>
								<p><%= element.descripcioncorta%></p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
				<% }) %>
			
		</div>
	</div>
	<!-- /Novedades -->
	
   
     <%- include('partials/footer.ejs') %>
</body>
</html>