<!DOCTYPE html>
<html lang="es">

	<%- include('partials/head.ejs') %>

<body>
	

	<%- include('partials/header.ejs') %>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<% buscar.forEach(element => {%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/<%= element.id%>"> 
						<figure class="product-box_image">
							<img src="<%= element.url %>" alt="producto">
						</figure>
						<article class="product-box_data">
							<h2><%= element.nombre_producto %></h2>
							<p><%= element.descripcion %></p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
	
			<% }) %>
		</div>
	</div>
	
	
	<%- include('partials/footer.ejs') %>
</body>

</html>