<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>
<body>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultado de busqueda</h2>
			</div>
			
			<% for (let index = 0; index < 4; index++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/detalle"> 
						<figure class="product-box_image">
							<img src="<%= %>" alt="producto">
						</figure>
						<article class="product-box_data">
							<h2><%=  %></h2>
							<p><%= %></p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
			
		</div>
	</div>
	
	

	<%- include('partials/footer.ejs') %>
</body>

</html>